/* Container styling */
#drop-container {
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
}

/* Banner styling */
#banner-h1 {
    font-size: 4em;
    padding: 0;
    font-family: "IM Fell English SC", serif;
}

/* Input field styling */
#kill-input, #select-boss {
    height: 2em;
    width: 12em;
    border-radius: 0.5em;
    text-align: center;
    margin-bottom: 1em;
    font-family: "Roboto", sans-serif;
}

/* Button styling */
#drop-button {
    margin-top: 2em;
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff; /* Primary blue color */
    border: none;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 2em;
    font-family: "Roboto", sans-serif;
}

#reset-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #2a5788; /* Primary blue color */
    border: none;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 2em;
    font-family: "Roboto", sans-serif;
}

/* Hover effects */
#drop-button:hover, #reset-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Larger shadow on hover */
}

/* Active effects */
#drop-button:active, #reset-button:active {
    background-color: #004080; /* Even darker blue on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow on click */
    transform: translateY(2px); /* Slight downward movement on click */
}

/* Focus effects */
#drop-button:focus, #reset-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 4px #4ba2ff; /* Custom focus outline */
}

/* Font families */
.im-fell-english-sc-regular {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Responsive Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Responsive design for mobile */
@media (max-width: 450px) {
    #banner-h1 {
        text-align: center;
        font-size: 3em;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }

    .table-responsive {
        overflow-x: auto;
    }
}
